.box{
    display: inline-block;
    background-color: #3A4042;
    border-radius: 0px;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 28px 28px;
}

.box .title{
    margin-bottom: 28px;
}