@charset "UTF-8";
.title{
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0 black;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    color: #7E2E84;
}

.title.-second{
    color: #7E2E84;
    text-shadow: none;
    text-align: center;
}